@color-background: #622870;
@color-background-grid: #2d0238;
@color-block-red: #a7383e;
@color-block-green: #2c8437;
@color-block-blue: #303e73;
@color-swapper: #ffffff;
@color-tooltip: #ffffff;

@grid-width: 6;
@grid-height: 8;

@block-size: 2.5em;
@block-border-size: @block-size / 6;

